#define fonts   xft:JetBrains Mono:pixelsize=20,\
                xft:Hack Regular Nerd Font Complete:pixelsize=12,\
                xft:Hack Regular Nerd Font Complete Mono.ttf:pixelsize=12
              


URxvt.urlButton: 1
URxvt.underlineURLs: True
URxvt*depth: 32
URxvt.background: [40]#0a0a0a
URxvt.saveLines: 2000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: True 
URxvt.cursorColor: #f00
URxvt.foreground: #ffffff
URxvt.font: fonts
!URxvt.font: Noto Color Emoji
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1


! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #f00
*.color9: #f00

! green
*.color2: #00bf10
*.color10: #00bf10 
! #57ab33

! yellow
*.color3: #ffee00
*.color11: #ffee00

! blue
*.color4: #0055ff
*.color12: #0055ff

! magenta
*.color5: #976eff
*.color13: #976eff

! cyan
*.color6: #83bdde
*.color14: #83bdde

! white
*.color7: #e0e8f3
*.color15: #e0e8f3

! Enable normal copy/paste
URxvt.iso14755:        false
URxvt.iso14755_52:     false
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:

! Bind Ctrl-Shift-c & Ctrl-Shift-v to copy and paste
URxvt.keysym.C-S-0x43: eval:selection_to_clipboard
URxvt.keysym.C-S-0x56: eval:paste_clipboard


